.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.button:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 800px) {
  .column {
    width: auto;
  }
}
.box__fyK {
  display: block;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 54px;
  height: 32px;
  flex-shrink: 0;
}
.box___76Zs5 {
  display: block;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 38px;
  height: 4px;
  flex-shrink: 0;
}
.box__e9XX4 {
  display: block;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 73px;
  height: 19px;
  flex-shrink: 0;
}
