.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  flex-direction: column;
}
.labelContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.optionsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
}
.optionsContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.optionsContainer > :global(.__wab_flex-container) > *,
.optionsContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.optionsContainer__isHorizontal {
  display: flex;
  flex-direction: row;
}
.optionsContainer__isHorizontal > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.optionsContainer__isHorizontal > :global(.__wab_flex-container) > *,
.optionsContainer__isHorizontal
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 32px;
  margin-top: 0px;
}
.radio__gEsA5:global(.__wab_instance) {
  position: relative;
}
.radio__o53Fa:global(.__wab_instance) {
  position: relative;
}
.radio__xrsgE:global(.__wab_instance) {
  position: relative;
}
.radio__u6NV7:global(.__wab_instance) {
  position: relative;
}
