.textareaContainer {
  display: flex;
  position: relative;
  flex-direction: row;
}
.textareaContainer____focusVisibleWithin {
  outline: none;
}
.textareaContainer:focus-within {
  outline: none;
}
.textarea {
  font-family: IBM Plex Mono;
  font-size: 11px;
  color: rgb(50, 52, 54) /* plasmic-token: 6-9k9VEZ- */;
  line-height: 1.5;
  position: relative;
  flex-grow: 1;
  min-height: 32px;
  border-radius: 4px;
  padding: 8px;
  border-style: none;
}
.textareaContainer:hover .textarea {
  box-shadow: inset 0px 0px 0px 1px rgb(228, 230, 235)
    /* plasmic-token: 4QM1pZKqI */;
}
.textareaContainer .textarea____focusVisibleWithin {
  box-shadow: inset 0px 0px 0px 2px rgb(4, 164, 244)
    /* plasmic-token: eI5XVwQOs8t */;
  outline: none;
}
.textareaContainer:focus-within .textarea {
  box-shadow: inset 0px 0px 0px 2px rgb(4, 164, 244)
    /* plasmic-token: eI5XVwQOs8t */;
  outline: none;
}
.textareaContainer:active .textarea {
  box-shadow: inset 0px 0px 0px 1px rgb(228, 230, 235)
    /* plasmic-token: 4QM1pZKqI */;
}
