.root {
  box-shadow: inset 0px 0px 0px 1px rgb(228, 230, 235)
    /* plasmic-token: 4QM1pZKqI */;
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px;
  border-style: none;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.root__global_theme_dark {
  box-shadow: inset 0px 0px 0px 1px rgb(36, 37, 38)
    /* plasmic-token: dzXZ6pAO5 */;
}
.root__type_smallerPadding {
  padding-left: 6.75px;
  padding-right: 6.75px;
}
.root__states_isDisabled {
  cursor: not-allowed;
}
.root__states_isSet {
  background-color: rgb(240, 242, 245) /* plasmic-token: L89ExH6ks */;
  box-shadow: none;
}
.root__type_secondary {
  box-shadow: none;
  background-color: rgb(240, 242, 245) /* plasmic-token: L89ExH6ks */;
}
.root__type_secondary_global_theme_dark {
  background-color: rgb(24, 25, 26) /* plasmic-token: 0XeUy-lw_ */;
  border-radius: 4px;
  padding: 8px;
  border-style: none;
  border-color: rgb(96, 255, 87);
}
.root__type_secondary_global_theme_dark > :global(.__wab_flex-container) {
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__type_secondary_global_theme_dark > :global(.__wab_flex-container) > *,
.root__type_secondary_global_theme_dark
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > * {
  margin-left: 8px;
  margin-top: 0px;
}
.root__type_cyan {
  box-shadow: inset 0px 0px 0px 1px rgb(198, 239, 255)
    /* plasmic-token: 9hJgiHiPfM_ */;
}
.root__type_flat {
  box-shadow: none;
}
.root__type_rounded {
  border-radius: 16px;
}
.root:hover {
  box-shadow: inset 0px 0px 0px 1px rgb(228, 230, 235)
    /* plasmic-token: 4QM1pZKqI */;
  background-color: rgb(240, 242, 245) /* plasmic-token: J4mdJYsm3rg */;
}
.root:active {
  background-color: rgb(228, 230, 235) /* plasmic-token: mfYPuA8TIiO */;
}
.root____focusVisible {
  box-shadow: inset 0px 0px 0px 2px rgb(4, 164, 244)
    /* plasmic-token: eI5XVwQOs8t */;
  outline: none;
  border-color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.root:focus {
  box-shadow: inset 0px 0px 0px 2px rgb(4, 164, 244)
    /* plasmic-token: eI5XVwQOs8t */;
  outline: none;
}
.root__global_theme_dark:hover {
  background-color: rgb(24, 25, 26) /* plasmic-token: 0XeUy-lw_ */;
  box-shadow: inset 0px 0px 0px 1px rgb(36, 37, 38)
    /* plasmic-token: dzXZ6pAO5 */;
}
.root__states_isDisabled:hover {
  background-color: rgba(255, 255, 255, 0) /* plasmic-token: kfauf58rd4Jw */;
}
.root__type_secondary___focusVisible {
  outline: none;
}
.root__type_secondary:focus {
  outline: none;
}
.root__type_cyan:hover {
  background-color: rgb(224, 247, 255) /* plasmic-token: ro4OjMDnNRi */;
  box-shadow: inset 0px 0px 0px 1px rgb(198, 239, 255)
    /* plasmic-token: 9hJgiHiPfM_ */;
}
.root__type_cyan:active {
  background-color: rgb(198, 239, 255) /* plasmic-token: 9hJgiHiPfM_ */;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root .startIconContainer____focusVisible {
  outline: none;
}
.slotStartIcon {
  color: rgb(74, 76, 79) /* plasmic-token: QQdIvJFj1 */;
}
.slotStartIcon__states_isDisabled {
  color: rgb(201, 204, 209) /* plasmic-token: 5Zjzi6myY */;
}
.slotStartIcon__type_cyan {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.root .slotStartIcon____focusVisible > * {
  outline: none;
}
.svg__c4MvQ {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.slotChildren {
  font-family: Inter;
  font-size: 11px;
  color: rgb(50, 52, 54) /* plasmic-token: 6-9k9VEZ- */;
  line-height: 1.5;
  font-weight: 600;
}
.slotChildren__global_theme_dark {
  color: rgb(201, 204, 209) /* plasmic-token: b6bbqecq5 */;
}
.slotChildren__states_isDisabled {
  color: rgb(150, 153, 158) /* plasmic-token: eoKrlLGaw */;
}
.slotChildren__type_cyan {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.root .slotChildren____focusVisible > * {
  outline: none;
}
.root:focus .slotChildren > * {
  outline: none;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotEndIcon {
  color: rgb(74, 76, 79) /* plasmic-token: QQdIvJFj1 */;
}
.slotEndIcon__states_isDisabled {
  color: rgb(201, 204, 209) /* plasmic-token: 5Zjzi6myY */;
}
.slotEndIcon__type_cyan {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.svg__sR56 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
