.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  background-color: #ffffff;
  flex-direction: column;
  min-width: 0;
}
.panelHeader:global(.__wab_instance) {
  position: relative;
}
.box___6W4U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box___8YDoi {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.box___8YDoi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.box___8YDoi > :global(.__wab_flex-container) > *,
.box___8YDoi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.fieldLabel___5RZwb:global(.__wab_instance) {
  width: 52px;
  flex-shrink: 0;
}
.svg__eo9Ws {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.textField__zrjgp:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___5Fey {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__lcuzu {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.divider__se3Rx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  margin: 8px;
}
.box__hw1Mz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.box__hw1Mz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.box__hw1Mz > :global(.__wab_flex-container) > *,
.box__hw1Mz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.fieldLabel___5YYmJ:global(.__wab_instance) {
  width: 52px;
  flex-shrink: 0;
}
.textAreaField:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
.divider__wvJX:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  margin: 8px;
}
.box___0OPEa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___0OPEa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box___0OPEa > :global(.__wab_flex-container) > *,
.box___0OPEa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.box__pWvhm {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.box__pWvhm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.box__pWvhm > :global(.__wab_flex-container) > *,
.box__pWvhm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.fieldLabel__uhSKm:global(.__wab_instance) {
  width: 52px;
  flex-shrink: 0;
}
.textField__ovoC:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__to34Z {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__nNph {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.box__rfLad {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.box__rfLad > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.box__rfLad > :global(.__wab_flex-container) > *,
.box__rfLad > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.fieldLabel__vQo6H:global(.__wab_instance) {
  width: 52px;
  flex-shrink: 0;
}
.textField__eZcee:global(.__wab_instance) {
  position: relative;
  width: 62px;
  flex-shrink: 0;
}
.start2 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.end2 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.box__sIikM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__mhMr1 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__tyNXf {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg___24Hhl {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.svg__fgg43 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg___8D6Pg {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.svg__siNlk {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.box___79Wg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.box___79Wg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.box___79Wg > :global(.__wab_flex-container) > *,
.box___79Wg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.fieldLabel__pFohi:global(.__wab_instance) {
  width: 52px;
  flex-shrink: 0;
}
.textField__myLdM:global(.__wab_instance) {
  position: relative;
  width: 62px;
  flex-shrink: 0;
}
.start22 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.end22 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.box__v6Vx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__z2Pg0 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__lgKai {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__yxJfx {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.svg__vwkcr {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.box___2Rsv2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.box___2Rsv2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.box___2Rsv2 > :global(.__wab_flex-container) > *,
.box___2Rsv2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.fieldLabel__fpCov:global(.__wab_instance) {
  width: 52px;
  flex-shrink: 0;
}
.svg__wuyHg {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.textField__mRuJw:global(.__wab_instance) {
  position: relative;
  width: 62px;
  flex-shrink: 0;
}
.start222 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.end222 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.box__whgcx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__plbCf {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__cQwnQ {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__fe6Tg {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.svg__qaWl5 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__zofMw {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.svg__xvF2L {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__hSmhj {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.svg__evOlu {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.box__lqFqC {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.box__lqFqC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.box__lqFqC > :global(.__wab_flex-container) > *,
.box__lqFqC > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.fieldLabel__d26Fe:global(.__wab_instance) {
  width: 52px;
  flex-shrink: 0;
}
.svg__kiYAy {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.textField__vvEeM:global(.__wab_instance) {
  position: relative;
  width: 62px;
  flex-shrink: 0;
}
.start2222 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.end2222 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.box___2Iky {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__xqvDe {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__jWulX {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__xudqp {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.svg___1J2EG {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__nxqHz {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.svg__n8CXa {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.svg__qJ1Ru {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.svg__wwj4 {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.box__dVwAf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.box__dVwAf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.box__dVwAf > :global(.__wab_flex-container) > *,
.box__dVwAf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.fieldLabel__mqTaS:global(.__wab_instance) {
  width: 52px;
  flex-shrink: 0;
}
.start3 {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.textField__lNfF9:global(.__wab_instance) {
  position: relative;
  width: 62px;
  flex-shrink: 0;
}
.start22222 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.end22222 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.checkbox:global(.__wab_instance) {
  position: relative;
}
.box__nT9Fl {
  color: rgb(122, 125, 130) /* plasmic-token: yyaHFSf_c */;
}
.box__vl9DO {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0;
}
.box__vl9DO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.box__vl9DO > :global(.__wab_flex-container) > *,
.box__vl9DO > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.fieldLabel__k4Y43:global(.__wab_instance) {
  width: 52px;
  flex-shrink: 0;
}
.start32 {
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: rgb(150, 153, 158) /* plasmic-token: S2OvgLalS */;
}
.textField__vk13J:global(.__wab_instance) {
  position: relative;
  width: 62px;
  flex-shrink: 0;
}
.start222222 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
.end222222 {
  object-fit: cover;
  width: 16px;
  height: 16px;
}
